  body{
    padding: 0;
    margin: 0 auto;
  }
  p,h1{
    margin: 0;
    padding: 0;
  }
  .container{
    max-width: 1300px;
  }
  .header{
    font-family: 'Source Sans Pro', sans-serif;
    &-list{
      list-style: none;
      color: #6d7278;
      font-weight: 600;
      margin: 30px 0 15px 0;
      &_item{
        &:last-child{
          display: flex;
          color: #8a7c5d;
          p{
            margin-left: 8px;
            @media(max-width: 460px){
              display: none;
            }
          }
        }
      }
    }
    &-title{
      margin-bottom: 30px;
      h1{
        font-size: 30px;
      }
      p{
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  .accordion{
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    max-width: 1300px;

  }
  .card{
    background-color: #142536;
    border-radius: unset;
    &-header{
      border-bottom: solid 1px #405265;
      &:hover{
        background-color: #22374b;
      }
      .acc-head{
        text-align: left;
        font-size: 22px;
        line-height: 28px;
        cursor: pointer;
      }
    }
    &-body_img{
      @media (max-width:767px) {
        margin: 30px 0;
        align-self: center;
      }
    }
    .arrows-rotate_up{
      transform: rotate(180deg);
      }
    }
.form-group{
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  cursor: pointer;
  position: relative;
  :hover{
    border-bottom: 1px solid #fff;
  }

  input::placeholder{
    color: white;
  }
  .block-clear {
    align-items: center;
    background-image: url("images/close.svg");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 8px;
    cursor: pointer;
    height: 14px;
    position: absolute;
    right: 5px;
    width: 14px;
    z-index: 10;
  }
}

.form-control{
  background-color: #142536;
  border: none;
  color: #ffffff;
}
.btn{
  color: #fff;
}
.btn-active{
  width: 100%;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  background-color: transparent;
  margin-top: 45px;
}





